/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
    width: 100%;
    border-radius: 3%;
    opacity: 0.6;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    border: 2px solid #f00;
    opacity: 1;
  }

.cadastro-equipes{
    background-color: #fff;
    color: #212529;
    padding: 100px 50px;
}

.cadastro-equipes h2{
    color: #212529;
}